@model NWHarvest.Web.Models.Listing

@{
    ViewBag.Title = "Details";
}

<h2>Listing Details</h2>

<div id="listingDeets">
    <hr />
    <dl class="dl-horizontal">
        
        <dt>@Html.DisplayNameFor(model => model.Grower.name)</dt>
        <dd>@Html.DisplayFor(model => model.Grower.name)</dd>

        <dt>@Html.DisplayNameFor(model => model.product)</dt>
        <dd>@Html.DisplayFor(model => model.product)</dd>

        <dt>@Html.DisplayNameFor(model => model.qtyOffered)</dt>
        <dd>@Html.DisplayFor(model => model.qtyOffered)</dd>

        <dt>@Html.DisplayNameFor(model => model.qtyLabel)</dt>
        <dd>@Html.DisplayFor(model => model.qtyLabel)</dd>

        <dt>@Html.DisplayNameFor(model => model.expire_date)</dt>
        <dd>@Html.DisplayFor(model => model.expire_date)</dd>

        <dt>@Html.DisplayNameFor(model => model.harvested_date)</dt>
        <dd>@Html.DisplayFor(model => model.harvested_date)</dd>

        <dt>@Html.DisplayNameFor(model => model.cost)</dt>
        <dd>@Html.DisplayFor(model => model.cost)</dd>
        
        <hr />
        <h2>Pickup Information</h2>

        <dt>@Html.DisplayNameFor(model => model.Grower.address1)</dt>
        <dd>@Html.DisplayFor(model => model.Grower.address1)</dd>

        <dt>@Html.DisplayNameFor(model => model.Grower.city)</dt>
        <dd>@Html.DisplayFor(model => model.Grower.city)</dd>

        <dt>@Html.DisplayNameFor(model => model.Grower.state)</dt>
        <dd>@Html.DisplayFor(model => model.Grower.state)</dd>

        <dt>@Html.DisplayNameFor(model => model.Grower.zip)</dt>
        <dd>@Html.DisplayFor(model => model.Grower.zip)</dd>

        <dt>Pickup Schedule Notes</dt>
        <dd>@Html.DisplayFor(model => model.comments)</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
